.main_wrapper{
    left: 0;
    top: 0;
}
#canvas{
    position:  absolute;
    margin: 0 auto;
    vertical-align: baseline;
    float: left;
    left: 0;
    top : 0;
}
.Button{
    /*background-repeat: no-repeat;
    background-size: cover;*/
    position: relative !important;
    margin: 0 auto !important;
    border : 1px solid aquamarine !important;
    float: left !important;
    display: block !important;
    width: 30px !important;
    height: 30px !important;
    transition: 0.4s !important;
    opacity: 1;
    border-radius: 0 !important;
    background-color: wheat;
    /*top: inherit !important;
    left: inherit !important;
    right: inherit !important;
    bottom: inherit !important;*/
}                                                                                                                                         
.button_wrapper{
    position: fixed !important;
    top: 3vh !important;
    left: 10vw !important;
    margin: 0 auto !important;
}
.color_picker_wrapper{
    position: fixed;
    top: 8vh;
    left: 10vw;
    margin: 0 auto;
}
.color_button{
    position: relative !important;
    margin: 0 auto !important;
    border : 1px solid aquamarine !important;
    float: left !important;
    display: block !important;
    width: 30px !important;
    height: 30px !important;
    transition: 0.4s !important;
    opacity: 1 !important;
    border-radius: 0 !important;
    /*top: inherit !important;
    left: inherit !important;
    right: inherit !important;
    bottom: inherit !important;*/
}
.Button:hover{
    opacity: 0.3 !important;
    cursor: pointer !important;
}
.color_button:hover{
    opacity: 0.3 !important;
    cursor: pointer !important;
}
.Text{
    margin: 0 auto;
    /*height: 50px;*/
    font: 12px;
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 999999;
    padding: 0px;
    transition:border 0.4s ease-in-out;
}
.Text:focus{
    border: none;
    border-bottom: 2px solid blue;
}
#black{
    background-color: black;
}
#white{
    background-color: white;
}
#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#purple{
    background-color: purple;
}
/*#donothing{
    background-color: wheat;
    /*background-image: url(https://i.imgur.com/vSWMuFW.png);
}
#hide{
    background-color: wheat;
    /*background-image: url(https://i.imgur.com/Sxu9rvM.png);
}
#fill{
    background-color: wheat;
    /*background-image: url(https://i.imgur.com/Rw8tnoD.png);
}
#pen{
    background-color: wheat;
    /*background-image: url(https://i.imgur.com/ZhlzjZf.png);
}
#eraser{
    background-color: wheat;
    /*background-image: url(https://i.imgur.com/sKlMfJw.png);
}
#rectangle{
    background-color: wheat;
    /*background-image: url(https://i.imgur.com/lbv8VDT.png);
}
#circle{
    background-color: wheat;
    /*background-image: url(https://i.imgur.com/J9hBUNp.png);
}
#download{
    background-color: wheat;
    /*background-image: url(https://i.imgur.com/U34o1RZ.png);
}
#sprinkle{
    background-color: wheat;
    /*background-image: url(https://i.imgur.com/L1USpwL.png);
}*/