
.main_wrapper{
    left: 0;
    top: 0;
}
#canvas{
    position:  absolute;
    margin: 0 auto;
    vertical-align: baseline;
    float: left;
    left: 0;
    top : 0;
}
.Button{
    position: relative !important;
    margin: 0 auto !important;
    /*border : 1px solid aquamarine !important;*/
    float: left !important;
    display: block !important;
    width: 30px !important;
    height: 30px !important;
    transition: 0.4s !important;
    opacity: 1;
    border-radius: 0 !important;
    background-color: wheat;
}                                                                                                                                         
.tool_wrapper{
    position: absolute;
    top: 3vh;
    left: 10vw;
    margin: 0 auto;
    border: 20px solid;
    border-radius: 10px;
    border-color: white;
}

.Button:hover{
    opacity: 0.3 !important;
    cursor: pointer;
}
.Text{
    margin: 0 auto;
    /*height: 50px;*/
    font: 12px;
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 999999;
    padding: 0px;
    transition:border 0.4s ease-in-out;
}
.Text:hover{
    border: 2px solid black;
}
.Text:focus{
    border-bottom: 2px solid blue;
    border: none;
}
.input_close_button{
    opacity: 1;
    border-radius: 5px;
    border: none;
    background-color: red;
    height: 10px;
    width: 10px;
    position: absolute;
    z-index: 999999;
    /*display: block;*/
    visibility: hidden;
    font: 3px;
    /*transition: opacity 0.3s;*/
}
.Text:focus + .input_close_button{
    visibility: visible;
}
/*.input_container{
    position: absolute;
}*/
.input_container:hover > .input_close_button{
    visibility: visible;
}
.input_close_button:hover{
    visibility: visible;
    opacity: 0.7;
    border-radius: 5px;
    border: 1px black solid;
}
#color_picker{
    padding: 0px;
    background-color: white;
    border: 0px;
    margin: 0px;
    outline: none;
    height: 30px;
}
.Smaller_Button{
    animation: button_shrink 0.5s;
}
.Smaller_wrapper{
    animation: wrapper_shrink 0.5s;
}
@keyframes button_shrink{
    0% {width: 30px}
    100% {width: 0px}
}
@keyframes button_in{
    0% {width: 0px}
    100% {width: 30px}
}
@keyframes wrapper_shrink{
    0% {border: 20px solid}
    100% {border: 0px solid}
}
@keyframes wrapper_in{
    0% {border: 0px solid}
    100% {border: 20px solid}
}
/* cursor */
#move{
    cursor: grab;
}
/*.donothing:hover{
    cursor:auto;
}
.pen:hover{
    cursor: url(images/pen.png);
}
.rectangle{
    cursor: url(images/rectangle.png) auto;
}*/